:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-accent-color: #2196f3;
  --footer-logo-text-color: #000000;
  --secondary-accent-color: #ffffff;
  --bg-hover-btn-color: #188ce8;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-and-header-bg-color: #2f303a;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* ======start site nav======= */
.logo {
  color: var(--footer-logo-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--primary-accent-color);
}
.site-nav-list .link.current {
  color: var(--primary-accent-color);
}
.site-nav-list a {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-list a:hover,
.site-nav-list a:focus,
.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--primary-accent-color);
}
.contacts-list a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* ========end site nav====== */
/* =======start hero section====== */
.hero {
  background-color: var(--footer-and-header-bg-color);
}
.hero-title {
  color: var(--secondary-accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.modal-btn {
  color: var(--primary-bg-color);
  background-color: var(--primary-accent-color);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.modal-btn:hover {
  background-color: var(--bg-hover-btn-color);
}
/* ========and hero section======== */
/* =======start covponents========= */
.section-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* =========end components========= */
/* ========start features section====== */
.feature-list .title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
}
/* ======and features section====== */
/* ======start our team section==== */
.our-team-section {
  background-color: var(--secondary-bg-color);
}
.team-list-item {
  background-color: var(--primary-bg-color);
}
.team-title {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team-list .position {
  font-size: 16px;
  line-height: 1.2;
}
/* =======and our team section===== */
/* =======start footer section====== */
.footer {
  background-color: var(--footer-and-header-bg-color);
}
.logo-footer {
  color: var(--secondary-accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-contacts a {
  color: var(--footer-text-color);

  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts .link-map {
  color: var(--primary-bg-color);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--primary-accent-color);
}
/* ========PORTFOLIO PAGE======= */
.filter-btn {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--bg-hover-btn-color);
}
.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
.products-list p {
  font-size: 16px;
  line-height: 1.9;

  color: var(--primary-text-color);
}
