.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
}

.clients-list__item {
    margin-right: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 6 - 30px);
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid var(--primary-accent-color);
    }
}

.clients-list__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients-list__link:hover &,
    .clients-list__link:focus & {
        fill: var(--primary-accent-color);
    }
}