.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-and-header-bg-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.centr-footer {
    margin-left: 70px;
    min-width: 206px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--secondary-accent-color);
}

.address__link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--footer-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--primary-accent-color);
    }
}

.address__link--white {
    color: var(--primary-bg-color);
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.social-links__icon--white {
    fill: var(--secondary-accent-color);
}

.footer__title {
    display: block;
    margin-bottom: 20px;
    color: var(--secondary-accent-color);
}

.subscrib-form {
    margin-left: auto;
}

.subscrib-form__wripper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.subscrib-form__input {
    width: 358px;
    height: 50px;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--secondary-bg-color);
    background-color: var(--footer-and-header-bg-color);
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscrib-form__modal-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.subscrib-form__icon {
    margin-left: 10px;
    fill: var(--secondary-accent-color);
}