.our-work-section {
    padding-top: 0px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-list__item {
    position: relative;
    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

.work-list__wrapper {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.work-list__title {
    color: var(--secondary-accent-color);
}