:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --primary-accent-color: #2196f3;
    --footer-logo-text-color: #000000;
    --secondary-accent-color: #ffffff;
    --bg-hover-btn-color: #188ce8;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-and-header-bg-color: #2f303a;
}